header{
    height: 120px;
    padding-top: 15px;
    border: 10px;
    border-color: black;
    background-color: yellow;
    font-size: 50px;
    text-align: center;

}
section{
    width: 700px;
    height: 500px;
    border: 10px double;
    float: left;
    margin-top: 40px;
    border-color: rgb(141, 16, 0);
    text-align: justify;
    font-size: 30px;
}
.bigbox{
    width: 700px;
    height: 680px;
    border: 15px double;
    border-color: red;
    float: right;
    margin-top: 10px;
}
.imgs{
    width: 600px;
    height: 300px;
    border: 5px groove;
    border-color: rgb(red, green, blue);
    float: right;
    margin-right: 30px;
}
#topbox{
    margin-top: 50px;
    float: right;
}

#smallbox{
    margin-top: 10px;
    float: right;
}

